<mat-toolbar color="primary">
  <button
    *ngIf="context === 'bill'"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    *ngIf="context === 'settings'"
    mat-icon-button
    aria-label="Back"
    routerLink="/"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="headline">
    <span *ngIf="context === 'bill'" class="appName">Splify</span>
    <span *ngIf="context !== 'bill'">{{ headline }}</span>
  </div>
  <span class="spacer"></span>
  <button
    *ngIf="context === 'bill'"
    class="peopleIndicator"
    mat-icon-button
    aria-label="People"
    (click)="toggleNumberOfPayers()"
  >
    {{ numberOfPayers }}
    <mat-icon>{{ numberOfPayers === 1 ? "person" : "people" }}</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onClickNewBill()">
    <mat-icon>fiber_new</mat-icon>
    <span>{{ "HEADER.NEW_BILL" | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <span>{{ "SETTINGS.HEADLINE" | translate }}</span>
  </button>
</mat-menu>
