<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="appName">Rechnung aufteilen</span>
  <span class="spacer"></span>
  <button
    class="peopleIndicator"
    mat-icon-button
    aria-label="People"
    (click)="toggleNumberOfPayers()"
  >
    {{ numberOfPayers }}
    <mat-icon>{{ numberOfPayers === 1 ? "person" : "people" }}</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onClickNewBill()">
    <mat-icon>fiber_new</mat-icon>
    <span>Neue Rechnung</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Einstellungen</span>
  </button>
</mat-menu>
