mat-dialog-content {
  .inputWrapper {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .priceFormField {
    width: 7rem;
  }

  .debtorSelection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 3rem;

    button.selected {
      background-color: var(--bsplit-color-primary);
    }
  }
}

mat-dialog-actions {
  justify-content: space-between;
}
