<h2 mat-dialog-title *ngIf="billEntry.id.length === 0">
  {{ "BILL.NEW_ENTRY" | translate }}
</h2>
<h2 mat-dialog-title *ngIf="billEntry.id.length > 0">
  {{ "BILL.CHANGE_ENTRY" | translate }}
</h2>
<mat-dialog-content class="mat-typography">
  <div class="inputWrapper">
    <mat-form-field appearance="fill">
      <mat-label>{{ "GENERAL.NAME" | translate }}</mat-label>
      <input
        matInput
        type="text"
        [placeholder]="'BILL.ENTRY' | translate"
        [(ngModel)]="billEntry.name"
        cdkFocusInitial
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="priceFormField">
      <mat-label>{{ "BILL.PRICE" | translate }}</mat-label>
      <input
        #price="ngModel"
        matInput
        required
        min="0"
        type="number"
        [ngModel]="billEntry.price | number: '1.2-2'"
        (ngModelChange)="billEntry.price = $event"
      />
      <span matSuffix>€</span>
      <mat-error *ngIf="price.hasError('required')">
        {{ "ERROR.REQUIRED" | translate }}
      </mat-error>
      <mat-error *ngIf="price.hasError('min')">
        {{ "ERROR.PRICE_MIN" | translate: { min: 0 } }}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <h3>{{ "BILL.WHO_ORDERED" | translate }}</h3>
    <div class="debtorSelection">
      <ng-container
        *ngFor="let i of [].constructor(numberOfPayers); let index = index"
      >
        <bsplit-people
          [peopleIds]="[index + 1]"
          [selected]="isPersonSelected(index + 1)"
          (clickButton)="toggleSelected(index + 1)"
        >
        </bsplit-people>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null" color="warn">
    <mat-icon>delete</mat-icon>
    {{ "GENERAL.DELETE" | translate }}
  </button>
  <button
    color="primary"
    [disabled]="!price.valid"
    mat-button
    (click)="onClickOK()"
  >
    {{ "GENERAL.OK" | translate }}
  </button>
</mat-dialog-actions>
