<h2 mat-dialog-title>{{ "BILL.SPLIT_BILL" | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ "BILL.WHO_PAYS" | translate }}</h3>
  <div class="selectPayer">
    <ng-container
      *ngFor="let i of [].constructor(numberOfPayers); let index = index"
    >
      <bsplit-people
        [peopleIds]="[index + 1]"
        [selected]="payer === index + 1"
        (clickButton)="onClickPayer(index + 1)"
      >
      </bsplit-people>
    </ng-container>
  </div>
  <div class="results">
    <ng-container *ngFor="let debtor of debtors">
      <ng-container *ngIf="debtor.personNumber !== payer">
        <div class="billForOne">
          <h3>
            {{ "BILL.BILL_FOR" | translate }}
            <bsplit-people [peopleIds]="[debtor.personNumber]"> </bsplit-people>
          </h3>
          <div class="entryForOne" *ngFor="let entry of debtor.entries">
            <span>{{ entry.name }}</span>
            <span>{{
              entry.splitPrice | currency: settingsService.currency
            }}</span>
          </div>
          <div class="entryForOne">
            <span>{{ "GENERAL.TIP" | translate }}</span>
            <span>{{ debtor.tip | currency: settingsService.currency }}</span>
          </div>
          <h4 class="summaryForOne" *ngIf="debtor.personNumber !== payer">
            <bsplit-people [peopleIds]="[payer]"></bsplit-people>
            {{ "BILL.RECEIVES" | translate }}
            <bsplit-people [peopleIds]="[debtor.personNumber]"></bsplit-people>
            {{ debtor.amount | currency: settingsService.currency }}.
          </h4>
        </div>
      </ng-container>
    </ng-container>
  </div>
</mat-dialog-content>
