:host {
  .content {
    position: absolute;
    top: 3.5rem;
    bottom: 0;
    width: 100vw;
    height: calc(100% - 3.5rem);
    overflow-y: auto;
    background-color: var(--background-color);
    z-index: 2;

    .billWrapper {
      width: 100%;
      display: table;

      .tableRow {
        display: table-row;

        .tableCell {
          display: table-cell;
          padding: 0.75rem;
          vertical-align: middle;

          &.price,
          &.lastCell {
            text-align: right;
          }
        }
      }

      .footerRowGroup {
        display: table-row-group;

        .emptyRow .tableCell,
        .totalRow .tableCell,
        .totalWithTipRow .tableCell {
          position: sticky;
          z-index: 1;
        }

        .emptyRow .tableCell {
          bottom: 5.5rem;
        }

        .totalRow .tableCell {
          bottom: 2.75rem;
        }

        .totalWithTipRow .tableCell {
          bottom: 0;
        }

        .totalRow .tableCell,
        .totalWithTipRow .tableCell {
          border-top: 1px solid grey;
          font-weight: bold;
        }
      }
    }
  }
}
