.valuesWrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0;

  mat-form-field {
    width: 100%;
  }

  .sumLabel,
  .tip {
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
  }
}
.buttonWrapper {
  display: flex;
  gap: 1rem;
}
