<h2 mat-dialog-title>{{ "BILL.TIP.CHANGE_TIP_DIALOG.TITLE" | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="valuesWrapper">
    <div class="sumLabel">
      <label>{{ "GENERAL.TOTAL" | translate }}:</label>
      <label>{{ total | currency: currency }}</label>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>{{ "GENERAL.TOTAL_WITH_TIP" | translate }}</mat-label>
      <input
        #totalWithTipNgModel="ngModel"
        matInput
        [min]="total"
        required
        cdkFocusInitial
        type="number"
        [ngModel]="totalWithTip | number: '1.2-2'"
        (ngModelChange)="onEditSumWithTip($event)"
      />
      <span matSuffix>€</span>
      <mat-error *ngIf="totalWithTipNgModel.hasError('required')">
        {{ "ERROR.REQUIRED" | translate }}
      </mat-error>
      <mat-error *ngIf="totalWithTipNgModel.hasError('min')">
        {{ "ERROR.VALUE_SHOULD_BE_HIGHER_THAN_TOTAL" | translate }}
      </mat-error>
    </mat-form-field>
    <div class="tip">
      <label>{{ "GENERAL.TIP" | translate }}:</label>
      <label>{{ currentTipValue | currency: currency }}</label>
    </div>
    <div class="tip">
      <label>{{ "GENERAL.TIP_IN_PERCENT" | translate }}:</label>
      <label>{{ currentTipPercent | number: "1.0-0" }}%</label>
    </div>
  </div>
  <div class="buttonWrapper">
    <button mat-flat-button color="accent" (click)="onClickSetTip(0)">
      {{
        "BILL.TIP.CHANGE_TIP_DIALOG.SET_TIP_TO_PERCENT"
          | translate: { tipInPercent: 0 }
      }}
    </button>
    <button
      mat-flat-button
      color="accent"
      (click)="onClickRoundTip(defaultTipInPercent)"
    >
      {{
        "BILL.TIP.CHANGE_TIP_DIALOG.ROUND_TIP_TO_PERCENT"
          | translate: { tipInPercent: defaultTipInPercent }
      }}
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    color="primary"
    [disabled]="!totalWithTipNgModel.valid"
    mat-button
    (click)="onClickOK()"
  >
    {{ "GENERAL.OK" | translate }}
  </button>
</mat-dialog-actions>
