<bsplit-header
  context="bill-split"
  [headline]="'BILL.SPLIT_BILL' | translate"
  (shareClick)="onShareClick()"
></bsplit-header>
<div class="content">
  <div class="billSplitWrapper">
    <h3>{{ "BILL.WHO_PAYS" | translate }}</h3>
    <div class="selectPayer">
      <ng-container *ngFor="let debtor of debtors">
        <bsplit-people
          [personIds]="[debtor.personId]"
          [selected]="payer === debtor.personId"
          (clickButton)="onClickPayer(debtor.personId)"
        >
        </bsplit-people>
      </ng-container>
    </div>
    <div class="results">
      <ng-container *ngFor="let debtor of debtors">
        <ng-container *ngIf="debtor.personId !== payer">
          <div class="billForOne">
            <h3>
              {{ "BILL.BILL_FOR" | translate }}
              {{ getPersonName(debtor.personId) }}:
            </h3>
            <div class="entryForOne" *ngFor="let entry of debtor.entries">
              <span>{{ entry.name }}</span>
              <span>{{
                entry.splitPrice | currency : settingsService.currency
              }}</span>
            </div>
            <div class="entryForOne">
              <span>{{ "GENERAL.TIP" | translate }}</span>
              <span>{{
                debtor.tip | currency : settingsService.currency
              }}</span>
            </div>
            <h4 class="summaryForOne" *ngIf="debtor.personId !== payer">
              {{ getPersonName(payer) }}
              {{ "BILL.RECEIVES" | translate }}
              {{ getPersonName(debtor.personId) }}
              {{ debtor.amount | currency : settingsService.currency }}.
            </h4>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
