<bsplit-header
  context="bill-split"
  [headline]="'BILL.SPLIT_BILL' | translate"
  (shareClick)="onShareClick()"
></bsplit-header>
<div class="content">
  <div class="billSplitWrapper">
    <h3>{{ "BILL.WHO_PAYS" | translate }}</h3>
    <div class="selectPayer">
      <ng-container *ngFor="let debtor of debtors">
        <bsplit-people
          [friendIds]="[debtor.friendId]"
          [selected]="payer === debtor.friendId"
          (clickButton)="onClickPayer(debtor.friendId)"
        >
        </bsplit-people>
      </ng-container>
    </div>
    <div class="results">
      <ng-container *ngFor="let debtor of debtors">
        <ng-container *ngIf="debtor.friendId !== payer">
          <div class="billForOne">
            <h3>
              {{ "BILL.BILL_FOR" | translate }}
              {{ getFriendName(debtor.friendId) }}:
            </h3>
            <div class="entryForOne" *ngFor="let entry of debtor.entries">
              <span>{{ entry.name }}</span>
              <span>{{
                entry.splitPrice | currency: settingsService.currency
              }}</span>
            </div>
            <div class="entryForOne">
              <span>{{ "GENERAL.TIP" | translate }}</span>
              <span>{{ debtor.tip | currency: settingsService.currency }}</span>
            </div>
            <h4 class="summaryForOne" *ngIf="debtor.friendId !== payer">
              {{ getFriendName(payer) }}
              {{ "BILL.RECEIVES" | translate }}
              {{ getFriendName(debtor.friendId) }}
              {{ debtor.amount | currency: settingsService.currency }}.
            </h4>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
