.dark-theme {
  --background-color: #424242;
  --background-color-darker: #313131;
  --text-color: #ffffff;

  background-color: var(--background-color);
  color: var(--text-color);
}

.light-theme {
  --background-color: #fafafa;
  --background-color-darker: #d2d2d2;
  --text-color: #333333;

  background-color: var(--background-color);
  color: var(--text-color);
}
