<div class="billWrapper">
  <!-- data rows -->
  <div class="tableRow dataRow" *ngFor="let entry of bill$ | async">
    <div class="tableCell name" (dblclick)="onDoubleClickEntry(entry)">
      {{ entry.name }}
    </div>
    <div class="tableCell price" (dblclick)="onDoubleClickEntry(entry)">
      {{ entry.price | currency: entry.currency }}
    </div>
    <div
      [class]="
        'tableCell payer ' + entry.debtors.getCurrentPayersColorList().join(' ')
      "
    >
      <button
        class="peopleIndicator"
        mat-button
        aria-label="People"
        (click)="openDebtorsSelection(entry)"
      >
        {{ entry.debtors.getDebtors().join(",") }}
        <mat-icon>{{
          entry.debtors.isSingleDebtor() ? "person" : "people"
        }}</mat-icon>
      </button>
    </div>
  </div>
  <!-- Buttons -->
  <div class="footerRowGroup">
    <div class="tableRow emptyRow">
      <div class="tableCell">
        <button
          class="addButton"
          mat-flat-button
          color="primary"
          (click)="onClickAddEntry()"
        >
          <mat-icon>add</mat-icon>
          Neu
        </button>
      </div>
      <div class="tableCell"></div>
      <div class="tableCell payer">
        <button
          class="splitButton"
          mat-flat-button
          color="accent"
          (click)="onClickSplitBill()"
        >
          <mat-icon>call_split</mat-icon>
        </button>
      </div>
    </div>
    <!-- Total -->
    <div class="tableRow totalRow">
      <div class="tableCell name">Summe</div>
      <div class="tableCell price total">{{ total | currency: currency }}</div>
      <div class="tableCell payer"></div>
    </div>
    <!-- Tip -->
    <div class="tableRow totalWithTipRow">
      <div class="tableCell name">
        mit Trinkgeld ({{ tipInPercent }}% =
        {{ roundedTip | currency: currency }})
      </div>
      <div class="tableCell price tip">
        {{ total + roundedTip | currency: currency }}
      </div>
      <div class="tableCell payer"></div>
    </div>
  </div>
</div>
