:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  height: calc(100% - 3.5rem);
  width: 100vw;
  overflow-y: auto;

  .billWrapper {
    width: 100%;
    display: table;

    .tableRow {
      display: table-row;

      .tableCell {
        display: table-cell;
        padding: 0.75rem;
        vertical-align: middle;

        &.price,
        &.debtor,
        &.splitButtonCell {
          text-align: right;
        }
      }
    }

    .footerRowGroup {
      display: table-row-group;

      .emptyRow .tableCell,
      .totalRow .tableCell,
      .totalWithTipRow .tableCell {
        position: sticky;
        z-index: 1;
        background-color: white;
      }

      .emptyRow .tableCell {
        bottom: 5.5rem;
      }

      .totalRow .tableCell {
        bottom: 2.75rem;
      }

      .totalWithTipRow .tableCell {
        bottom: 0;
      }

      .totalRow .tableCell,
      .totalWithTipRow .tableCell {
        border-top: 1px solid grey;
        font-weight: bold;
      }
    }
  }
}
