<table>
  <!-- data rows -->
  <tr class="dataRow" *ngFor="let entry of entries">
    <td class="name">{{ entry.name }}</td>
    <td class="price">{{ entry.price | currency: currency }}</td>
    <td class="payer"></td>
  </tr>
  <!-- Total -->
  <tr class="totalRow">
    <td class="name">Summe</td>
    <td class="price total">{{ total | currency: currency }}</td>
    <td class="payer"></td>
  </tr>
  <tr class="tipRow">
    <td class="name">Trinkgeld ({{ tipInPercent }}%)</td>
    <td class="price tip">{{ tip | currency: currency }}</td>
    <td class="payer"></td>
  </tr>
</table>

<div class="buttonWrapper">
  <button class="addButton" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
