:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .billWrapper {
    width: 100%;
    max-width: 30rem;
    display: table;

    .tableRow {
      display: table-row;

      .tableCell {
        display: table-cell;
        padding: 0.75rem;

        &.price {
          text-align: right;
        }
      }

      &.totalRow {
        font-weight: bold;
      }

      &.totalRow .tableCell,
      &.tipRow .tableCell {
        border-top: 1px solid grey;
      }
    }
  }
}
