/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --bsplit-color-primary: #3f51b5; // indigo

  --bsplit-color0: #c21943;
  --bsplit-color1: #3cb44b;
  --bsplit-color2: #911eb4;
  --bsplit-color3: #ffe119;
  --bsplit-color4: #256fdf;
  --bsplit-color5: #f58231;
  --bsplit-color6: #46f0f0;
  --bsplit-color7: #f032e6;
  --bsplit-color8: #000075;
  --bsplit-color9: #bcf60c;
  --bsplit-color10: #fabebe;
  --bsplit-color11: #008080;
  --bsplit-color12: #e6beff;
  --bsplit-color13: #9a6324;
  --bsplit-color14: #fffac8;
  --bsplit-color15: #800000;
  --bsplit-color16: #aaffc3;
  --bsplit-color17: #808000;
  --bsplit-color18: #ffd8b1;
  --bsplit-color19: #808080;

  input[type="number"] {
    text-align: right;
  }
}
