:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    width: 100vw;
    overflow-y: auto;
    background-color: var(--background-color);
    z-index: 2;

    .settings {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .language {
        mat-radio-group {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding: 1rem 0;
        }
      }

      .theme {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      section {
        padding: 0.5rem 0;
      }
    }
  }
}
